.jumbotron {
    text-align: center;
    background-image: url("../images/theofficetrivia.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-content: center;
    height: 300px;

}

body {
  background-repeat: no-repeat;
  background-size: cover;
}
#start {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.gameBody {
    display: flex;
    justify-content: center;
    background: #3b3034;
    font-family: courier;
    color: white;
    
  }
#startButton  {
  display: flex;
  justify-content: center;
  padding: 1em;
  color:white;
  background: #3b3034;
  font-family: courier;
  font-weight: bold;
  
}

li, #timer {
  list-style: none;
  font-size: 24px;
  line-height: 2em;
  
}

#timer {
  background-color: white;
  color: #3B3034;
}

li.button  {
  background-color: transparent;
  border: none;
}

#question, #options {
  display: flex;
  flex-wrap: wrap;
}

