.jumbotron {
    text-align: center;
    background-image: url("../images/theofficetrivia.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-content: center;
    height: 300px;

}

body {
  background-repeat: no-repeat;
  background-size: cover;
}
#start {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.gameBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #3b3034;
    font-family: courier;
    color: white;
   line-height: 2.5em;
    
  }
#startButton  {
  display: flex;
  justify-content: center;
  padding: 1em;
  color:white;
  background: #3b3034;
  font-family: courier;
  font-weight: bold;
  
}

#timer {
  list-style: none;
  font-size: 24px;
  line-height: 2em;
  background-color: white;
  color: #3B3034;
  
}


.option {
  display: block;

}

#box {
  height: 100%;
}